* {
  font-family: "Righteous", cursive;
  background-color: black;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.welcome-container h1 {
  color: #0dcaf0;
  font-size: 50px;
}

.welcome-container h2 {
  color: #a7ecfa;
}

.message {
  margin: auto;
  padding: 5px;
}

.question-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center; /* WHY DO LONGER QUESTIONS NOT STAY CENTERED? */
  margin-top: 50px;
}

.question {
  margin: auto;
  font-size: 50px;
  color: whitesmoke;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 350px;
}

.start {
  margin: auto;
  width: 50%;
}

.choice1,
.choice2,
.choice3,
.choice4 {
  margin: 5px;
}

.alert-container {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.alert {
  margin: auto;
  height: 100%;
  align-items: center;
}

.timer-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.timer {
  margin: auto;
  justify-content: center;
  font-size: 75px;
  color: whitesmoke;
}

.user-score-container {
  display: flex;
  justify-content: center;
}

.user-score {
  color: whitesmoke;
  font-size: 30px;
}

.form-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.form-text {
  margin: auto;
  color: whitesmoke;
  height: 50px;
  width: 50%;
  font-size: 20px;
}

.submit {
  margin: auto;
  width: 25%;
}

.scores-container {
  display: flex;
  justify-content: center;
}

.scores {
  color: whitesmoke;
  font-size: 50px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.scores li {
  font-size: 30px;
}
